/*
Name: Twitter
URL: https://twitter.com/*
*/

/* Hide who to follow */
div.module.wtf-module,

/* Hide trends since they are always irrelevant to me */
div.module.trends,

/* Hide discover since I never want to see that */
ul#global-actions li.topics,

/* Hide the unread indicator on the DMs button */
button.dm-button.new span.dm-new,

/* Hide unread indicator on Me tab. */
ul#global-actions li.profile i.nav-new,

/* I don't email tweets. */
li.more-tweet-actions,

/* Larry in the nav bar always bugged me. */
h1.bird-topbar-etched
{
  display: none !important;
}

/* Make the unread DMs button look like the normal one */
button.dm-button.new {
  width: 42px !important;
  padding: 5px 10px !important;
}
